* {
    box-sizing: border-box;
}

body {
    background-color: rgb(116, 135, 151);
    text-align: center;
}

h1, h2, h3, h4 {
    color: cyan;
    margin: 0.5rem 0;
}

p {
    margin: 0;
    text-align: center;
}

header {
    background-color: gray;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

header input {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/309/magnifying-glass-tilted-left_1f50d.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2rem;

}

header img {
    height: 2rem;
    margin-bottom: 0.5rem;
    max-width: 11rem;
}

.hero {
    align-items: center;
    background: url("https://ak.picdn.net/shutterstock/videos/1014945997/thumb/1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 25rem;
    padding: 0 3rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 0.5rem;
    text-align: center;
}

.content section{
    padding-top: 1rem;
}

.content .pics {
    column-gap: 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* width: 100%; */
}

.content .pics img {
    width: 95px;
    height: 95px;
}

.content img {
    object-fit: cover;
    border-radius: 50%;
}

.content .justify p {
    text-align: justify;
}

.content .card {
    align-items: center;
    padding-bottom: 1rem;
}

.card img {
    width: 160px;
    height: 160px;
}

.cardText {
    margin: 0 0.5rem;
    min-width: 8rem;
    align-items: center;
}

.separator {
    background-color: black;
    display: block;
    height: 0.75rem;
}

footer {
    background-color: gray;
    padding: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media only screen and (min-width: 560px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem 0;
    }
    
    header img {
        height: 2rem;
        margin-bottom: 0;
    }

    .hero {
        min-height: 40rem;
    }    

    .content {
        display: inline-block;
        margin-top: -5rem;
        width: 70%;
    }

    .content .pics {
        flex-wrap: nowrap;
    }

    .content .pics img {
        min-height: 95px;
        min-width: 95px;
    }

    .content .pics img:nth-child(2) {
        margin: 0 8rem;
    }

    .cards {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: auto;
    }

    .card {
        align-items: center;
        display: flex;
        justify-content: space-around;
        max-height: fit-content;
    }

    .card img {
        height: 75px;
        width: 75px;
    }

    .cardText {
        min-width: fit-content;
    }    

    footer {
        display: flex;
        justify-content: space-around;
    }
}